body{
  margin: 0;
  padding: 0;
}
.alb{
  cursor: pointer;
  font-size: 18px;
  padding: 14px 28px;
  border: none;
  color:white

}
.alb:hover{
  background-color: black;
}
.success{
  background-color: green;
}
.info{
  background-color: blue;
}
.warning{
  background-color: darkorange;
}
.danger{
  background-color: red;
}
.default{
  background-color: darkgray;
}
header{
 text-align: center;
}
.accordion {
  width: 100%;
  color: blue;
  border: none;
  text-align: left;
  font-size: 16;
  padding: 10px;
  cursor: pointer;
}
.accordion:hover{
background-color: darkgray;
}
.answer_box{
  display:none;
}
nav li{
 display:inline;
}
/*📚📚📚📚📚📚
Personal CSS Library 📚📚📚📚📚📚*/

/*Text Alignment(ta_)*/
.ta_center
{
  text-align: center;
}
/*Text Color(cl_) */
.cl_blue
{
  color:blue;
}
.cl_black
{
  color: black; 
}
/*Width(wd_)*/
.wd
{
  width: 100%;
}


