.accordion
{
  width: 100%;
  color: blue;
  border: none;
  text-align: left;
  font-size: 16;
  padding: 10px;
  cursor: pointer;
}
.accordion:hover
{
background-color: darkgray;
}
.answer_box
{
  display:none;
}
/*Text Alignment(ta_)*/
.ta_center
{
  text-align: center;
}
/*Text Color(cl_) */
.cl_blue
{
  color:blue;
}
.cl_black
{
  color: black; 
}
/*Width(wd_)*/
.wd
{
  width: 100%;
}


