*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  height: 100%; /*❓❓*/
  font-family: Arial, Helvetica, sans-serif;
}
.bgi{
  height: 50%;
  background-size: cover;
}
.img1{
  background-image: url("../img/favicon.jpg");
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.dropbtn
{
  background-color: aqua;
  color: darkmagenta;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown{
  position: relative;
  display:inline-block;
}
.dropdown-content{
  display:none;
  position: absolute;
  background-color: antiquewhite;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0, 0.2);
  z-index:1;
}
.dropdown-content a{
  color:black;
  padding:12px 16px;
  text-decoration:none;
  display:block;
}
.dropdown-content a:hover{
  background-color: green;
}
.dropdown:hover .dropdown-content{
  display:block;
}
.dropdown:howver .dropbtn{background-color:red;}
.bgt{
  background-color: black;
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width:300px;
  padding: 20px;
  text-align: center;
}
.alb{
  cursor: pointer;
  font-size: 18px;
  padding: 14px 28px;
  border: none;
  color:white

}
.alb:hover{
  background-color: black;
}
.success{
  background-color: green;
}
.info{
  background-color: blue;
}
.warning{
  background-color: darkorange;
}
.danger{
  background-color: red;
}
.default{
  background-color: darkgray;
}
header{
 text-align: center;
}
.accordion {
  width: 100%;
  color: blue;
  border: none;
  text-align: left;
  font-size: 16;
  padding: 10px;
  cursor: pointer;
}
.accordion:hover{
background-color: darkgray;
}
.answer_box{
  display:none;
}
nav li{
 display:inline;
}
/*📚📚📚📚📚📚
Personal CSS Library 📚📚📚📚📚📚*/

/*Text Alignment(ta_)*/
.ta_center{
  text-align: center;
}
/*Text Color(cl_) */
.cl_blue{
  color:blue;
}
.cl_black{
  color: black; 
}
/*Background color(bkc_)*/
.bkc_white_off{
  background-color: #0000;
}
/*Width(wd_)*/
.wd{
  width: 100%;
}


